{% extends "base.html" %}

{% block cuerpo %}
<center>
    <div class="row justify-content-center"> <!-- Fila centrada -->
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4"> <!-- Columna centrada -->
            <center><h1>Editar Categorias</h1></center>
            <div class="card mx-auto"> <!-- Tarjeta centrada -->
                <div class="card-body">
                    <form action="/Categoria/editarCategoria/{{ categoria.id_categoria }}" method="POST"> {% csrf_token %} <!--Falta Action-->
                        <center><div class="form-group">
                            <input type="number" id="id_categoria" name="id_categoria" class="form-control" value="{{categoria.id_categoria }}" readonly minlength="1" maxlength="6" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{categoria.nombre }}"  maxlength="100" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="Cant_Prod" name="Cant_Prod" value="{{categoria.Cant_Prod }}"  class="form-control" maxlength="100" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="text" id="Descripcion" name="Descripcion" class="form-control" value="{{categoria.Descripcion }}"  maxlength="100" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="id_producto" name="id_producto" class="form-control" value="{{categoria.id_producto}}"  maxlength="20" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="date" id="Fecha_Creacion" name="Fecha_Creacion" class="form-control" value="{{categoria.Fecha_Creacion|date:'Y-m-d' }}"  minlength="1" maxlength="10" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="number" id="Ventas" name="Ventas" class="form-control" value="{{categoria.Ventas }}"  maxlength="100" required>
                        </div>
                        <br>
                        <hr></hr>
                        <div class="form-group py-2">
                            <button type="submit" class="btn btn-primary btn-dark">Guardar Categoria</button>
                        </div>
                    </center>
                    </form>
                </div>
            </div>
        </div> <!-- Fin de la columna -->
    </div> <!-- Fin de la fila -->
</center>
{% endblock %}