{% extends "base.html" %}

{% block cuerpo  %}
{% load static %}
<div class="row"> <!--la fila-->
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4"><!--Columna izquierda-->
    <center><h1>Registrar Categoria</h1></center>
        <div class="card mx-5"><!--la tarjeta-->
            <div class="card-body">
                <form action="registrarCategoria/" method="POST"> {% csrf_token %} <!--Falta Action-->
                    <center><div class="form-group">
                        <input type="number" id="id_categoria" name="id_categoria" class="form-control" placeholder="Id Provedor" minlength="1" maxlength="6" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" maxlength="100" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" id="Cant_Prod" name="Cant_Prod" placeholder="Cantidad de Producto" class="form-control" maxlength="100" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="Descripcion" name="Descripcion" class="form-control" placeholder="Descripcion" maxlength="100" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" id="id_producto" name="id_producto" class="form-control" placeholder="Id Producto" maxlength="20" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="date" id="Fecha_Creacion" name="Fecha_Creacion" class="form-control" placeholder="Fecha de Creacion" minlength="1" maxlength="10" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="number" id="Ventas" name="Ventas" class="form-control" placeholder="Ventas" maxlength="100" required>
                    </div>
                    <br>
                    <hr></hr>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary btn-dark">Guardar Categoria</button>
                    </div>
                </center>
                </form>
            </div>
        </div><!--la tarjeta-->
    </div><!--Columna izquierda-->
    <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8"><!--Columna Derecha-->
        <h1>Lista de Categorias</h1>
        <img class="w-50" src="{% static 'img/7.png' %}" alt="Salazar" width="300" height="150"/>
        <!--La Tabla-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id_Categoria</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad de Producto</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Id_Producto</th>
                    <th scope="col">Fecha_Creacion</th>
                    <th scope="col">Ventas</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>
                    {% for m in misCategorias  %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{m.id_categoria}}</td>
                        <td>{{m.nombre}}</td>
                        <td>{{m.Cant_Prod}}</td>
                        <td>{{m.Descripcion}}</td>
                        <td>{{m.id_producto}}</td>
                        <td>{{m.Fecha_Creacion|date:'d-m-Y' }}</td>
                        <td>{{m.Ventas}}</td>
                        <td> <a href="seleccionarCategoria/{{m.id_categoria}}" class="btn btn-info">Editar</a></td><!--falta-->
                        <td> <a href="borrarCategoria/{{m.id_categoria}}" class="btn btn-danger">Borrar</a></td><!--falta-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!--Columna Derecha-->
</div><!--la fila-->
{% endblock  %}